## DESI Python Intro!

This short notebook will show you some of the basics of python and prepare you to analyze DESI data.

### Variables
Creating a variable that holds data such as the number 5

In [6]:
# make a new variable, the computer will 
# store information into this variable 
# called "variable"
variable = 5

# if we type "print()" with the variable name between 
# the '()' then the computer shows what's inside the variable
# this will be a useful function to figure out what is what
print(variable)

5

Checking the type of the variable, this will show that the variable is an integer

In [3]:
# several types in python
# integer means number, specifically whole numbers
print(type(variable))

<class 'int'>

Next we will check some other data types that are commonly used in python

In [4]:
integer = 7
floatingPoint = 2.5
string = 'hello world'
boolean = True
lists = [3,1,4,1,5,9,2,6]
dictionary = {
    'key':'value'
}

In [5]:
print(type(integer))
print(type(floatingPoint))
print(type(string))
print(type(boolean))
print(type(lists))
print(type(dictionary))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'dict'>

Integers are all numbers that are not decimals excluding imaginary or complex and Floats are all numbers excluding imaginary or complex. All integers can be floats but not all floats can be integers unless they are rounded.

Here is code showing how integers and floats can be used and changed to the opposite:

Import math module

In [7]:
import math

Create an integer and float variable

In [10]:
integer = 99
floatVersion = float(integer + 5) + 5.0
print(integer)
print(floatVersion)

99
109.0

Check if the floats are integers

In [11]:
if floatVersion.is_integer():
    print('This float is an int!')
else:
    print('This float is not an int')

otherVar = 35.3521

if otherVar.is_integer():
    print('This float is an int!')
else:
    print('This float is not an int')

This float is an int!
This float is not an int

Convert floats to ints in 4 different methods

In [12]:
print(int(657.99999))
print(round(657.9999))

print(math.ceil(124.5))
print(math.floor(124.5))

657
658
125
124

Next is some code on strings

Substrings/Slicing strings

In [18]:
string = 'Hello World'
print(string)
multi = '''
Rafael's Thing

Here
'''
print(multi)
# printing from the second to fourth character excluding the fourth character
print(string[2:4])
# printing every other character
print(string[::2])
# reviersing the string
print(string[::-1])

Hello World

Rafael's Thing

Here

ll
HloWrd
dlroW olleH

converting items to strings

In [28]:
print(type(str(5453364)))
print(str(5453364))
print(str(987.87))

# F-strings new to python 3.6 and above
# This allows you to input variables of any type and do simple operations like math
print('sjhfkjsdhjkhd {} adasds'.format(5))
number = 5
other = 129.389
print(f'Here is the first number {number}, here is the second number {other}, here is the sum {number + other}')

<class 'str'>
5453364
987.87
sjhfkjsdhjkhd 5 adasds
Here is the first number 5, here is the second number 129.389, here is the sum 134.389

In [30]:
print('sjhfkjsdhjkhd {number} adasds {num2} , {number}'.format(number=number, num2=other))

sjhfkjsdhjkhd 5 adasds 129.389 , 5

In [29]:
print(f'Here is the first number {number}, here is the second number {other}, here is the sum {number + other}')

Here is the first number 5, here is the second number 129.389, here is the sum 134.389

### Functions aka Methods
Making and calling them

In [4]:
# This is a function
# A function allows us to repeat a bunch of code when we call" it
# We pass in given information such as the base and power
def exponent(base, power):

    # another cool trick that python has is ** which is the operation to do exponents
    ex = base ** power

    # every function has a return statement,
    # sometimes you don't need to type out return
    # because you're not returning anything
    return ex

# this is where we "call" a function to run a piece of code
# whenever we need to use it
answer = exponent(2, 10)

# Notice that print is also a function that when given a variable 
# it will display on screen what's inside it.
print(answer)

1024

Use cases for functions

In [5]:
# Functions are used to run a piece of code over and over again
# An example for DESI is that you want to figure out the wavelengths
# of light emitted by a Hydrogen atom for different high and low 
# energy levels, n and m respectively. 
def Rydberg(n, m):
    
    # Vacuum wavelengths [nanometres]
    # This is just how to express the formula in terms of 
    # python code
    result = 1.096e-2 * (1. / n / n - 1. / m / m)
    
    # Here you can see that we are feeding the result back
    # to where it was called
    return 1. / result

# Call the function
wavelength = Rydberg(5, 9) # the function will "return" the result into the variable wavelength
print(wavelength)

3299.3352450469242

In [14]:
# Now lets try to make the square root function
# TIP: raising a number to the 1/2 power is 
# equivalent to a square root
def square_root(num):
    
    # Write your code here
    
    
    # make sure to return the correct variable
    return result

# call the function here and print the result

### For Loops!
How to run code over and over again for a certain amount of time

In [15]:
# Refresher a list is a type of variable that can 
# contain multiple values of a variable type
# For example a list of integers
pythonList = [3, 1, 4, 1, 5, 9, 2, 6]

# With loops we can iterate (go through) over the items in the list
for item in pythonList:
    print(item)

3
1
4
1
5
9
2
6

In [19]:
# Another important property of lists is that we can add to them
# watch how we do it in the loops
combine_num = []

# Some other ways to write for loops
for i in [1, 2, 3]: # see how we can put the list where the variable used to be
    for j in [4, 5, 6]: # see how we can put loops inside loops
        
        # pay close attention to how the loop 
        # iterates with a loop inside it
        print(i, j)
        
        # here we will combine the numbers by adding them together
        # then we are going to add them to the list
        combine_num.append(i + j)

# let's take a look at our combine_num list
print("Below is the list")
print(combine_num)

1 4
1 5
1 6
2 4
2 5
2 6
3 4
3 5
3 6
Below is the list
[5, 6, 7, 6, 7, 8, 7, 8, 9]

In [24]:
# Now lets try to make a loop that multiplies odd numbers from 1 - 11

# Make a list with all of the odd numbers from 1 - 11
# Replace "None" with the list
odd_num = None

# variable to hold the result
result = 0

# replace the empty list "[]" with the correct list variable
for num in []:
    
    # replace "0" to multiply the number to the result
    result = 0
    
print(result)

0

### Python libraries
Libraries contain prewritten code by professional programmers to help us. The main ones that we will be working with are numpy, matplotlib, and pandas

In [78]:
# Important to import numpy so that we have access to it
import numpy as np # "np" will contain all of the code written by other programmers

# arange() is a numpy function that gives us an numpy array (similar to a list) of numbers
# the 10 is to specify the range of numbers
array = np.arange(10)

for number in array:
    print(nu)